
@model Utilisateur
IgnoreSection("Create");
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="typeutilisateur_id" class="form-control" asp-items="@ViewBag.typeutilisateur">
                    <option value="">Selectionner le type</option>               

                </select>
               
            </div>
            <div class="form-group">
                <label asp-for="noms" class="control-label"></label>
                <input asp-for="noms" class="form-control" />
                <span asp-validation-for="noms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom_utilisateur" class="control-label"></label>
                <input asp-for="Nom_utilisateur" class="form-control" />
                <span asp-validation-for="Nom_utilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motdepasse" class="control-label"></label>
                <input asp-for="motdepasse" class="form-control" />
                <span asp-validation-for="motdepasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact" class="control-label"></label>
                <input asp-for="contact" class="form-control" />
                <span asp-validation-for="contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adressemail" class="control-label"></label>
                <input asp-for="adressemail" class="form-control" />
                <span asp-validation-for="adressemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresse" class="control-label"></label>
                <input asp-for="adresse" class="form-control" />
                <span asp-validation-for="adresse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

